# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# ==============================
# Virtual Environments
# ==============================
venv/
env/
.venv/

# ==============================
# Jupyter / Colab
# ==============================
.ipynb_checkpoints/

# ==============================
# Model Weights (VERY IMPORTANT)
# ==============================
*.pt
*.pth

# ==============================
# YOLO Training Outputs
# ==============================
runs/
wandb/

# ==============================
# Dataset (Large Files)
# ==============================
dataset/
cnn_dataset/
*.zip
*.tar

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Temporary Files
# ==============================
*.tmp
*.cache